= form_for @scan_event, role: 'form', class:'form' do |f|
  - if @scan_event.errors.any?
    #error_explanation
      %h2= pluralize(@scan_event.errors.count, "error") + ' ' + t('scan_events.prohibited')
      %ul
        - @scan_event.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    %strong= f.label :hourly_worker_time_stamp, t('activerecord.attributes.scan_event.hourly_worker_time_stamp')
    %em= '(dd.mm.yyyy - hh:mm)'
    .form-group-inline{style: 'width: 50%; margin-left: auto; margin-right: auto;'}
      = f.datetime_select :hourly_worker_time_stamp, { start_year: Time.zone.now.year, end_year: Date.today.year - 3 }, class: 'form-control'

  .actions.form-group.text-center
    = f.submit class:'btn btn-ghost'
