.row
  .col
    %h1.page__title= t('scan_events.title')

.row
  .col
    %p= "Total scan_events count = #{@total_scan_events.count}"

.scan_event-list
  %table.table.table-hover
    %thead.table-header
      %tr
        %th Timestamp
        %th.text-center= t('activerecord.attributes.member.active')+'?'
        %th= t('activerecord.attributes.member.first_name')
        %th= t('activerecord.attributes.member.last_name')
        %th= t('activerecord.attributes.member.email')
        -# %th= t('activerecord.attributes.member.birthdate')
        -# %th= t('activerecord.attributes.member.gender')
        -# %th= t('activerecord.attributes.member.canton')
        %th= t('activerecord.attributes.member.abo_types')
        -# %th= t('activerecord.attributes.member.wants_newsletter_emails')
        -# %th= t('activerecord.attributes.member.wants_event_emails')
        -# %th= t('activerecord.attributes.member.card_id')
        %th.text-center= t('activerecord.attributes.member.magma_coins')
        -# %th= t('activerecord.attributes.member.expiration_date')
        -# %th= t('activerecord.attributes.member.comment')

    %tbody.scan_event-list-body
      - @scan_events.each do |scan_event|
        %tr{'data-id': scan_event.id, 'data-component'=>'scan_event', style: "background-color: #{scan_event.new? ? 'aqua' : ''};"}
          %td= scan_event.created_at.localtime.to_s(:custom_datetime)
          - member = scan_event.member
          %td.text-center
            - if member.active
              .material-icons= 'done'
          %td= member.first_name
          %td= member.last_name
          %td= member.email
          -# %td= member.birthdate
          -# %td= member.mobile_number
          -# %td= member.gender
          -# %td= member.canton
          %td= scan_event.abo_types.present? ? scan_event.abo_types : member.abo_types.active.map(&:name).join(', ')
          -# %td= member.wants_newsletter_emails
          -# %td= member.wants_event_emails
          -# %td= member.card_id
          %td.text-center= member.magma_coins
          -# %td= member.expiration_date.localtime.to_s(:custom_datetime)
          -# %td= member.comment

          %td.admin-list-actions
            .admin-list-actions__link
              = form_for scan_event, method: :delete, role: 'form', class:'form' do |f|
                = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
                  %span.material-icons.admin-actions__link__icon= 'delete'

  .admin-actions
    .admin-actions__link
      = link_to scan_events_path, class:'btn btn-ghost btn-square' do
        %span.material-icons.admin-actions__link__icon= 'refresh'

-# -----------------------------------------------------------------------------
- if @total_scan_events_no_member.count > 0
  %br
  %br

  .row
    .col
      %h1.page__title= t('scan_events.title2')

  .row
    .col
      %p= "Total scan_events_no_member count = #{@total_scan_events_no_member.count}"

  .scan_event-list
    %table.table.table-hover
      %thead.table-header
        %tr
          %th Timestamp
          %th UID
          %th post_body

      %tbody.scan_event-list-body.with-show
        - @scan_events_no_member.each do |scan_event|
          %tr{'data-id': scan_event.id, 'data-component'=>'scan_event', style: "background-color: #{scan_event.new? ? 'aqua' : ''};"}
            %td= scan_event.created_at.localtime.to_s(:custom_datetime)
            %td= scan_event.card_id
            %td= scan_event.post_body&.gsub('0000000000000000', '.')

            %td.admin-list-actions
              .admin-list-actions__link
                = form_for scan_event, method: :delete, role: 'form', class:'form' do |f|
                  = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
                    %span.material-icons.admin-actions__link__icon= 'delete'
