.scan_event
  .row
    .col
      .page__title
        %h1
          = t('activerecord.attributes.scan_event.card_id') + ': '
          %span{style: "font-weight: normal;"}= @scan_event.card_id

  .row
    .col.text-center
      %br
      %h2= t('scan_events.link_text')

      = form_for @scan_event do |f|
        .field.form-group
          = f.select :member_id, options_for_select(members_no_card_id_for_select, @scan_event.member_id), {include_blank: true}, class: 'form-control', id: 'select2'
        .actions.form-group.text-center
          = f.submit t('scan_events.link'), class:'btn btn-ghost'

:javascript
  document.addEventListener('turbolinks:load', function() {
    $('#select2').select2({
      theme: "bootstrap",
      // language: I18n.locale
    });
  });

:css
  .select2 {
    width: 330px !important;
    margin-left: auto;
    margin-right: auto;
  }
