= render '/legal_health_scores/legal_health_scores_navigation'

%h1 Listing legal_health_customers

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @legal_health_customers.each do |legal_health_customer|
      %tr
        %td= legal_health_customer.name
        -# %td= link_to 'Show', legal_health_customer
        -# %td= link_to 'Edit', edit_legal_health_customer_path(legal_health_customer)
        -# %td= link_to 'Destroy', legal_health_customer, method: :delete, data: { confirm: 'Are you sure?' }
        %td
          = link_to edit_legal_health_customer_path(legal_health_customer), class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'
        %td
          = form_for legal_health_customer, method: :delete, role: 'form', class:'form' do |f|
            = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
              %span.material-icons.admin-actions__link__icon= 'delete'

%br

= link_to 'New Legal health customer', new_legal_health_customer_path
