.row
  .col
    %h1.page__title= t('orders.closed.title')

.row
  .col
    %p= "Total orders count = #{@orders.count}"

.order-list
  %table.table.table-hover
    %thead.table-header
      %tr
        %th= t('activerecord.attributes.order.title')
        %th= t('activerecord.attributes.order.text')
        %th.hidden= t('activerecord.attributes.order.data')
        -# %th.text-center= t('activerecord.attributes.order.acknowledged') + '?'
        %th.text-center= t('activerecord.attributes.order.acknowledged_by')
        %th.text-center= t('activerecord.attributes.order.acknowledged_at')
        %th.text-center= 'Minutes open'

    %tbody.order-list-body
      - @orders.each do |order|
        %tr{'data-id': order.id, 'data-component'=>'order', style: "background-color: #{order.new? ? 'aqua' : ''};"}
          %td= order.title
          %td= order.text
          %td.hidden= order.data
          -# %td.text-center
          -#   - if order.acknowledged
          -#     .material-icons= 'done'
          %td.text-center= order.acknowledged_by
          - if order.acknowledged_at.present?
            %td.text-center= order.acknowledged_at.localtime.to_s(:custom_datetime)
            %td.text-center= (order.acknowledged_at.to_i - order.created_at.to_i)/60
          - else
            %td.text-center
            %td.text-center

          %td.admin-list-actions
            .admin-list-actions__link
              = form_for order, method: :delete, role: 'form', class:'form' do |f|
                = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
                  %span.material-icons.admin-actions__link__icon= 'delete'

  .order-list-footer
    = render 'paginator', orders: @orders

  .admin-actions
    .admin-actions__link
      = link_to orders_path, class:'btn btn-ghost btn-square' do
        %span.material-icons.admin-actions__link__icon= 'refresh'
