.feedback
  .row
    .col
      -# .tooltip
      -#   = image_tag "feedback_types/#{@feedback.feedback_type}.svg", height: '25px', width: '25px', style: 'position: absolute; top: 10px;'
      -#   %span.tooltiptext
      -#     = @feedback.feedback_type.name
      .page__title
        %h1
          = "Feedback ##{@feedback.id}"

    -# admin actions -----------------------------------------------------------
    .admin-actions
      .admin-actions__link
        = link_to edit_feedback_path(@feedback), class:'btn btn-ghost btn-square' do
          %span.material-icons.admin-actions__link__icon= 'edit'

    -# feedback ------------------------------------------------------------------
  .row
    .col
      %p
        %b= t('activerecord.attributes.feedback.overall_rating') + ':'
        = @feedback.overall_rating
      %p
        %b= t('activerecord.attributes.feedback.service_rating') + ':'
        = @feedback.service_rating
      %p
        %b= t('activerecord.attributes.feedback.ambient_rating') + ':'
        = @feedback.ambient_rating
      %p
        %b= t('activerecord.attributes.feedback.how_often_do_you_visit') + ':'
        = @feedback.how_often_do_you_visit
      %p
        %b= t('activerecord.attributes.feedback.what_to_improve') + ':'
        = @feedback.what_to_improve
      %p
        %b= t('activerecord.attributes.feedback.what_to_keep') + ':'
        = @feedback.what_to_keep
      %p
        %b= t('activerecord.attributes.feedback.console_rating') + ':'
        = @feedback.console_rating
      %p
        %b= t('activerecord.attributes.feedback.console_comment') + ':'
        = @feedback.console_comment
      %p
        %b= t('activerecord.attributes.feedback.pc_rating') + ':'
        = @feedback.pc_rating
      %p
        %b= t('activerecord.attributes.feedback.pc_comment') + ':'
        = @feedback.pc_comment
      %p
        %b= t('activerecord.attributes.feedback.karaoke_rating') + ':'
        = @feedback.karaoke_rating
      %p
        %b= t('activerecord.attributes.feedback.karaoke_comment') + ':'
        = @feedback.karaoke_comment
      %p
        %b= t('activerecord.attributes.feedback.board_game_rating') + ':'
        = @feedback.board_game_rating
      %p
        %b= t('activerecord.attributes.feedback.board_game_comment') + ':'
        = @feedback.board_game_comment
      %p
        %b= t('activerecord.attributes.feedback.offer_rating') + ':'
        = @feedback.offer_rating
      %p
        %b= t('activerecord.attributes.feedback.offer_comment') + ':'
        = @feedback.offer_comment
      %p
        %b= t('activerecord.attributes.feedback.read') + ':'
        = @feedback.read
        - if !@feedback.read
          .admin-list-actions__link
            = form_for @feedback, method: :patch, role: 'form', class:'form' do |f|
              = f.check_box :read, checked: true, hidden: true
              = button_tag(type: "submit", class:'btn btn-sstm') do
                %span= "Als gelesen markieren"
