- if scan_event.present? && scan_event.hourly_worker_time_stamp.present?
  %tr.time_stamp{'data-id': scan_event.id, 'data-component'=>'scan_event', style: "background-color: #{scan_event.hourly_worker_in ? 'yellow' : 'lightgreen'};"}
    - wd = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'][scan_event.hourly_worker_time_stamp.localtime.wday]
    - datetime = scan_event.hourly_worker_time_stamp.localtime.to_s(:custom_datetime)
    %td= "#{wd}, #{datetime}"
    - member = scan_event.member
    %td= member&.first_name
    %td= member&.last_name
    %td.text-center= scan_event.hourly_worker_in ? scan_event.hourly_worker_time_stamp.localtime.to_s(:custom_datetime_hour) : ""
    %td.text-center= scan_event.hourly_worker_out ? scan_event.hourly_worker_time_stamp.localtime.to_s(:custom_datetime_hour) : ""
    - hourly_worker_delta_time_string = ""
    - if scan_event.hourly_worker_delta_time.present?
      - hourly_worker_delta_time = (scan_event.hourly_worker_delta_time.to_f/3600)
      - hourly_worker_delta_time_string = "<strong>#{hourly_worker_delta_time.round(2)}</strong>".html_safe
      - hourly_worker_delta_time_string = (hourly_worker_delta_time_string + " (#{(hourly_worker_delta_time+0.5).round(2)} - 0.5)").html_safe if scan_event.hourly_worker_has_removed_30_min
    %td.text-center= hourly_worker_delta_time_string
    %td.text-center= (scan_event.hourly_worker_monthly_time.present? && scan_event.hourly_worker_out) ? (scan_event.hourly_worker_monthly_time.to_f/3600).round(2) : ""

    - if current_user.present? && current_user.admin?
      %td.admin-list-actions
        - if scan_event.hourly_worker_out
          .admin-list-actions__link
            = form_for scan_event, role: 'form', class:'form' do |f|
              .field.form-group.hidden
                .form-group-inline{style: 'width: 50%; margin-left: auto; margin-right: auto;'}
                  = f.datetime_select :hourly_worker_time_stamp
              .actions.form-group.text-center
                = f.button class:'btn btn-sstm btn-square' do
                  %span.material-icons.admin-actions__link__icon= 'refresh'
        .admin-list-actions__link
          = link_to edit_scan_event_path(scan_event), class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'
        .admin-list-actions__link
          = form_for scan_event, method: :delete, role: 'form', class:'form' do |f|
            = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
              %span.material-icons.admin-actions__link__icon= 'delete'
