- if time_stamp.present? && time_stamp.value.present?
  %tr.time_stamp{'data-id': time_stamp.id, 'data-component'=>'time_stamp', style: "background-color: #{time_stamp.type_color};"}
    %td.text-center= time_stamp.type
    - wd = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'][time_stamp.value.localtime.wday]
    - datetime = time_stamp.value.localtime.to_s(:custom_datetime)
    %td= "#{wd}, #{datetime}"
    - user = time_stamp.user
    - if current_user.is_admin
      %td.text-center= user.username
    %td.text-center= time_stamp.is_in ? time_stamp.value.localtime.to_s(:custom_datetime_hour) : ""
    %td.text-center= time_stamp.is_out ? time_stamp.value.localtime.to_s(:custom_datetime_hour) : ""
    - delta_time_string = ""
    - if time_stamp.delta_time.present?
      - delta_time_h = (time_stamp.delta_time.to_f/3600)
      - delta_time_string = "<strong>#{delta_time_h.round(2)}</strong>".html_safe
      - removed_time_h = time_stamp.removed_break_time.to_f/3600 if time_stamp.removed_break_time.to_i > 0
      - added_time_h = time_stamp.added_night_time.to_f/3600 if time_stamp.added_night_time.to_i > 0
      - if removed_time_h.present? && added_time_h.present?
        - delta_time_string = (delta_time_string + " (#{(delta_time_h+removed_time_h-added_time_h).round(2)} - #{removed_time_h.round(2)} + #{added_time_h.round(2)})").html_safe
      - elsif removed_time_h.present?
        - delta_time_string = (delta_time_string + " (#{(delta_time_h+removed_time_h).round(2)} - #{removed_time_h.round(2)})").html_safe
      - elsif added_time_h.present?
        - delta_time_string = (delta_time_string + " (#{(delta_time_h-added_time_h).round(2)} + #{added_time_h.round(2)})").html_safe
    %td.text-center= delta_time_string
    %td.text-center= (time_stamp.monthly_time.present? && (time_stamp.has_monthly_time?)) ? (time_stamp.monthly_time.to_f/3600).round(2) : ""
    - if current_user.is_admin
      %td.text-center
        - if time_stamp.was_manually_edited
          - if time_stamp.was_manually_validated
            .material-icons= 'done'
          - else
            .material-icons= 'warning'

    - if current_user.present?
      %td.admin-list-actions
        -# -# update
        -# - if time_stamp.has_monthly_time?
        -#   .admin-list-actions__link
        -#     = form_for time_stamp, role: 'form', class:'form' do |f|
        -#       = text_field_tag :user_id, @user_id, type: "hidden"
        -#       = text_field_tag :work_month_id, @work_month_id, type: "hidden"
        -#       = text_field_tag :year_id, @year_id, type: "hidden"
        -#       .field.form-group.hidden
        -#         .form-group-inline{style: 'justify-content: center; gap: 0.5rem;'}
        -#           = f.datetime_select :value
        -#       .actions.form-group.text-center
        -#         = f.button class:'btn btn-sstm btn-square' do
        -#           %span.material-icons.admin-actions__link__icon= 'refresh'
        -# manually validate
        - if current_user.admin? && time_stamp.was_manually_edited && !time_stamp.was_manually_validated
          .admin-list-actions__link
            = form_for time_stamp, role: 'form', class:'form' do |f|
              = text_field_tag :user_id, @user_id, type: "hidden"
              = text_field_tag :work_month_id, @work_month_id, type: "hidden"
              = text_field_tag :year_id, @year_id, type: "hidden"
              .field.form-group.hidden
                .form-group-inline{style: 'justify-content: center; gap: 0.5rem;'}
                  = f.datetime_select :value
              .col.form-check.hidden
                = f.check_box :was_manually_validated, checked: true, class:'form-check-input mr-2'
                = f.label :was_manually_validated, 'validte', class:'form-check-label', style:'background:red;'
              .actions.form-group.text-center
                = f.button class:'btn btn-sstm btn-square' do
                  %span.material-icons.admin-actions__link__icon= 'done'
        -# edit
        .admin-list-actions__link
          = link_to edit_time_stamp_path(time_stamp), class: 'btn btn-sstm btn-square' do
            %span.material-icons.admin-actions__link__icon= 'edit'
        -# delete
        - if current_user.admin?
          .admin-list-actions__link
            = form_for time_stamp, method: :delete, role: 'form', class:'form' do |f|
              = text_field_tag :user_id, @user_id, type: "hidden"
              = text_field_tag :work_month_id, @work_month_id, type: "hidden"
              = text_field_tag :year_id, @year_id, type: "hidden"
              = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
                %span.material-icons.admin-actions__link__icon= 'delete'
