-# Extern view
.container
  .navbar-brand
    = image_tag('logo.jpg', height: '50px', width: '50px')
    %span.d-none.d-sm-block.d-lg-none.d-xl-block
      = 'ERUPT'
  %ul.navbar-nav.navbar-main.ml-auto
    %li.nav-item.locales-list
      = link_to image_tag("flags/united-kingdom.svg", width: '20px', height: '20px', class: 'language_flag', style: "border-bottom: #{cookies[:locale] == 'en' ? '1px solid white' : ''};"), url_for(locale: 'en')
      = link_to image_tag("flags/germany.svg", width: '20px', height: '20px', class: 'language_flag', style: "border-bottom: #{cookies[:locale] == 'de' ? '1px solid white' : ''};"), url_for(locale: 'de')
