!!!
%html
  %head
    - if @section.present?
      %title= "ERUPT | #{@section.capitalize}"
    - else
      %title= "ERUPT"
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag 'logo.jpg'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag

  %body
    %main{style: 'margin-bottom: 0;'}
      .header.navbar.navbar-expand-lg.navbar-sstm
        = render '/layouts/navigation'
      .content-wraper{style: 'margin-top: 4.75rem;'}
        = yield
