= form_for @member, role: 'form', class:'form' do |f|

  - if @member.errors.any?
    #error_explanation
      %h2= pluralize(@member.errors.count, "error") + ' ' + t('members.prohibited')
      %ul
        - @member.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :first_name, "#{t('activerecord.attributes.member.first_name')} *"
    = f.text_field :first_name, class: 'form-control'
  .field.form-group
    = f.label :last_name, "#{t('activerecord.attributes.member.last_name')} *"
    = f.text_field :last_name, class: 'form-control'
  .field.form-group
    = f.label :email, "#{t('activerecord.attributes.member.email')} *"
    = f.email_field :email, class: 'form-control'
  .field.form-group
    = f.label :birthdate, "#{t('activerecord.attributes.member.birthdate')} *"
    = f.datetime_select :birthdate, default: {hour: 0, minute: 0}, start_year: Date.today.year - 100, end_year: Date.today.year, discard_hour: true, class: 'form-control'
  .field.form-group
    = f.label :mobile_number
    = f.text_field :mobile_number, class: 'form-control'
  .field.form-group
    = f.label :gender
    = f.select :gender, options_for_select(genders_for_select, @member.gender), {include_blank: true}, class: 'form-control'
  .field.form-group
    = f.label :canton
    = f.select :canton, options_for_select(cantons_for_select, @member.canton), {include_blank: true}, class: 'form-control'
  .form-group.mb-0
    .form-check
      = f.check_box :wants_newsletter_emails, checked: (params[:member].present? ? (params[:member][:wants_newsletter_emails] == "1") : true), class:'form-check-input mr-2'
      = f.label :wants_newsletter_emails, class:'form-check-label'
  .form-group
    .form-check
      = f.check_box :wants_event_emails, checked: (params[:member].present? ? (params[:member][:wants_event_emails] == "1") : true), class:'form-check-input mr-2'
      = f.label :wants_event_emails, class:'form-check-label'
  - if current_user.present? and !@member.new_record?
    .field.form-group
      = f.label :card_id
      = f.text_field :card_id, class: 'form-control'
    .field.form-group
      = f.label :magma_coins
      = f.text_field :magma_coins, class: 'form-control'
    .field.form-group
      = f.label :expiration_date
      = f.datetime_select :expiration_date, class: 'form-control'
    .field.form-group
      = f.label :number_of_scans
      = f.number_field :number_of_scans, class: 'form-control'
    .field.form-group
      = f.label :comment
      = f.text_area :comment, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :active, checked: (params[:member].present? ? (params[:member][:active] == "1") : true), class:'form-check-input mr-2'
        = f.label :active, class:'form-check-label'

  .actions.form-group
    = f.submit class:'btn btn-ghost'
