= form_for @member, as: :member, url: (extern ? members_extern_path : (@member.new_record? ? members_path : member_path)), method: (@member.new_record? ? :post : :put), role: 'form', class:'form' do |f|
  -# as: :post, url: post_path(@post), method: :patch, html: { class: "edit_post", id: "edit_post_45" } do |f| %>
  - if @member.errors.any?
    #error_explanation
      %h2= pluralize(@member.errors.count, "error") + ' ' + t('members.prohibited')
      %ul
        - @member.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    %strong= f.label :abo_types, "#{t('activerecord.attributes.member.abo_types')} *"
    = f.fields_for :abo_types do |ff|
      .row
        - AboType.all.each_with_index do |at, i|
          .col-12
            .form-check
              - abo_types_name_array = @member.abo_types.active.map(&:name)
              = ff.check_box at.name, checked: (abo_types_name_array.include?(at.name) || (@member.new_record? && i == 0)), class:'form-check-input mr-2'
              = ff.label at.name, at.name, class:'form-check-label'
  .field.form-group
    %strong= f.label :first_name, "#{t('activerecord.attributes.member.first_name')} *"
    = f.text_field :first_name, class: 'form-control'
  .field.form-group
    %strong= f.label :last_name, "#{t('activerecord.attributes.member.last_name')} *"
    = f.text_field :last_name, class: 'form-control'
  .field.form-group
    %strong= f.label :email, "#{t('activerecord.attributes.member.email')} *"
    = f.email_field :email, class: 'form-control'
  .field.form-group
    %strong= f.label :birthdate, "#{t('activerecord.attributes.member.birthdate')} *"
    %br
    = f.datetime_select :birthdate, default: {hour: 0, minute: 0}, start_year: Date.today.year - 100, end_year: Date.today.year, discard_hour: true, class: 'form-control'
  .field.form-group
    %strong= f.label :mobile_number
    = f.text_field :mobile_number, class: 'form-control'
  .field.form-group
    %strong= f.label :gender
    = f.select :gender, options_for_select(genders_for_select, @member.gender), {include_blank: true}, class: 'form-control'
  .field.form-group
    %strong= f.label :canton
    = f.select :canton, options_for_select(cantons_for_select, @member.canton), {include_blank: true}, class: 'form-control'
  .form-group.mb-0
    .form-check
      = f.check_box :wants_newsletter_emails, checked: (params[:member].present? ? (params[:member][:wants_newsletter_emails] == "1") : (@member.new_record? ? true : @member.wants_newsletter_emails)), class:'form-check-input mr-2'
      = f.label :wants_newsletter_emails, class:'form-check-label'
  .form-group
    .form-check
      = f.check_box :wants_event_emails, checked: (params[:member].present? ? (params[:member][:wants_event_emails] == "1") : (@member.new_record? ? true : @member.wants_event_emails)), class:'form-check-input mr-2'
      = f.label :wants_event_emails, class:'form-check-label'
  - if extern
    .form-group
      = recaptcha_tags align: "center"
  - if current_user.present? and !@member.new_record?
    %hr
    .field.form-group
      %strong= "Admin section:"
    .field.form-group
      %strong= f.label :card_id
      = f.text_field :card_id, class: 'form-control'
    .field.form-group
      %strong= f.label :ggleap_uuid
      = f.text_field :ggleap_uuid, class: 'form-control'
    .field.form-group
      %strong= f.label :magma_coins
      = f.text_field :magma_coins, class: 'form-control'
    .field.form-group
      %strong= f.label :comment
      = f.text_area :comment, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :active, checked: (params[:member].present? ? (params[:member][:active] == "1") : @member.active), class:'form-check-input mr-2'
        = f.label :active, class:'form-check-label'

  .actions.form-group.text-center
    - if extern
      = f.submit t('members.submit_btn_extern'), class:'btn btn-ghost'
    - else
      = f.submit class:'btn btn-ghost'
