.row
  .col
    %h1.page__title= t('members.title')

.row
  .col
    %p= "Total members count = #{Device.all.count}"

.member-list
  %table.table.table-hover.table-borderless
    %thead
      %tr
        %th= t('activerecord.attributes.member.first_name')
        %th= t('activerecord.attributes.member.last_name')
        %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t('activerecord.attributes.member.email')
        -# %th= t('activerecord.attributes.member.birthdate')
        -# %th= t('activerecord.attributes.member.gender')
        -# %th= t('activerecord.attributes.member.canton')
        -# %th= t('activerecord.attributes.member.wants_newsletter_emails')
        -# %th= t('activerecord.attributes.member.wants_event_emails')
        -# %th= t('activerecord.attributes.member.card_id')
        %th.text-center.text-center= t('activerecord.attributes.member.magma_coins')
        -# %th= t('activerecord.attributes.member.expiration_date')
        %th.text-center= t('activerecord.attributes.member.number_of_scans')
        %th.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= t('activerecord.attributes.member.comment')
        -# %th Created at

    %tbody.member-list-body.with-show
      - @members.each do |member|
        %tr{'data-id': member.id, 'data-component'=>'member'}
          %td= member.first_name
          %td= member.last_name
          %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= member.email
          -# %td= member.birthdate
          -# %td= member.mobile_number
          -# %td= member.gender
          -# %td= member.canton
          -# %td= member.wants_newsletter_emails
          -# %td= member.wants_event_emails
          -# %td= member.card_id
          %td.text-center= member.magma_coins
          -# %td= member.expiration_date
          %td.text-center= member.number_of_scans
          %td.d-none.d-sm-table-cell.d-md-table-cell.d-lg-none.d-xl-table-cell= member.comment
          -# %td= member.created_at.to_s(:custom_datetime)

          %td.admin-list-actions
            .admin-list-actions__link
              = link_to edit_member_path(member), class: 'btn btn-sstm btn-square' do
                %span.material-icons.admin-actions__link__icon= 'edit'
            .admin-list-actions__link
              = form_for member, method: :delete, data: { confirm: 'Are you sure?' }, role: 'form', class:'form' do |f|
                = button_tag(type: "submit", class:'btn btn-sstm btn-square') do
                  %span.material-icons.admin-actions__link__icon= 'delete'

  .admin-actions
    .admin-actions__link
      = link_to new_member_path, class:'btn btn-ghost btn-square' do
        %span.material-icons.admin-actions__link__icon= 'add'
