.row
  .col
    %h1.page__title= t('members.title')

.row
  .col
    %p= "Total members count = #{Member.all.count}"
  .col-6
  .col
    %p
      = "External link:"
      = link_to members_extern_path, members_extern_path, style: 'font-size: small;'

.member-list
  %table.table.table-hover
    %thead.table-header
      %tr
        %th.text-center= t('activerecord.attributes.member.active')+'?'
        %th.text-center= t('activerecord.attributes.member.card_id')+'?'
        %th.text-center= t('activerecord.attributes.member.ggleap_uuid')+'?'
        %th= t('activerecord.attributes.member.first_name')
        %th= t('activerecord.attributes.member.last_name')
        %th= t('activerecord.attributes.member.email')
        -# %th= t('activerecord.attributes.member.birthdate')
        -# %th= t('activerecord.attributes.member.gender')
        -# %th= t('activerecord.attributes.member.canton')
        %th= t('activerecord.attributes.member.abo_types')
        -# %th= t('activerecord.attributes.member.wants_newsletter_emails')
        -# %th= t('activerecord.attributes.member.wants_event_emails')
        -# %th= t('activerecord.attributes.member.card_id')
        %th.text-center= t('activerecord.attributes.member.magma_coins')
        %th.text-center= t('activerecord.attributes.member.number_of_scans')
        %th= t('activerecord.attributes.member.comment')
        -# %th Created at

    %tbody.member-list-body.with-show
      - @members.each do |member|
        %tr{'data-id': member.id, 'data-component'=>'member', style: "background-color: #{member.new? ? 'aqua' : ''};"}
          %td.text-center
            - if member.active
              .material-icons= 'done'
          %td.text-center
            - if member.card_id.present?
              .material-icons= 'done'
          %td.text-center
            - if member.ggleap_uuid.present?
              .material-icons= 'done'
          %td= member.first_name
          %td= member.last_name
          %td= member.email
          -# %td= member.birthdate
          -# %td= member.mobile_number
          -# %td= member.gender
          -# %td= member.canton
          %td= member.abo_types.active.map(&:name).join(', ')
          -# %td= member.wants_newsletter_emails
          -# %td= member.wants_event_emails
          -# %td= member.card_id
          %td.text-center= member.magma_coins
          %td.text-center= member.scan_events.count
          %td= member.comment
          -# %td= member.created_at.localtime.to_s(:custom_datetime)

          %td.admin-list-actions
            - if !member.active
              .admin-list-actions__link
                = form_for member, method: :patch, role: 'form', class:'form' do |f|
                  = f.check_box :active, checked: true, hidden: true
                  = button_tag(type: "submit", class:'btn btn-sstm btn-square') do
                    %span.material-icons.admin-actions__link__icon= 'done'
            .admin-list-actions__link
              = link_to edit_member_path(member), class: 'btn btn-sstm btn-square' do
                %span.material-icons.admin-actions__link__icon= 'edit'
            .admin-list-actions__link
              = form_for member, method: :delete, role: 'form', class:'form' do |f|
                = button_tag(type: "submit", onclick: "return confirm('Are you sure?')", class:'btn btn-sstm btn-square') do
                  %span.material-icons.admin-actions__link__icon= 'delete'

  .member-list-footer
    = render 'paginator', members: @members

  -# .admin-actions{style: 'left: 0.5rem;'}
  -#   .admin-actions__link
  -#     = link_to members_path, class:'btn btn-ghost btn-square' do
  -#       %span.material-icons.admin-actions__link__icon= 'refresh'
  .admin-actions
    .admin-actions__link
      = button_to members_sync_with_ggleap_path, method: :post, class: 'btn btn-sstm', onclick: "document.getElementById('sync-ggleap-spinner').classList.remove('hidden');" do
        %span#sync-ggleap-spinner.spinner-border.spinner-border-sm.hidden{role:"status", "aria-hidden":"true"}
        %span Sync ggLeap
    .admin-actions__link
      = link_to members_path, class:'btn btn-ghost btn-square' do
        %span.material-icons.admin-actions__link__icon= 'refresh'
    .admin-actions__link
      = link_to new_member_path, class:'btn btn-ghost btn-square' do
        %span.material-icons.admin-actions__link__icon= 'add'
