.member
  .row
    .col
      -# .tooltip
      -#   = image_tag "member_types/#{@member.member_type}.svg", height: '25px', width: '25px', style: 'position: absolute; top: 10px;'
      -#   %span.tooltiptext
      -#     = @member.member_type.name
      .page__title
        %h1
          = "#{@member.first_name} #{@member.last_name}"

    -# admin actions -----------------------------------------------------------
    .admin-actions
      .admin-actions__link
        = link_to edit_member_path(@member), class:'btn btn-ghost btn-square' do
          %span.material-icons.admin-actions__link__icon= 'edit'

      - if true #@member.user != current_user
        .admin-actions__link
          = mail_to @member.email, body: "#{t('hi')} #{@member.first_name}\n\n...", class:'btn btn-ghost btn-square' do
            %span.material-icons.admin-actions__link__icon= 'email'
        - if @member.mobile_number.present?
          .mobile_number= " (#{@member.mobile_number})"

    -# member ------------------------------------------------------------------
  .row
    .col
      %p
        %b= t('activerecord.attributes.member.first_name') + ':'
        = @member.first_name
      %p
        %b= t('activerecord.attributes.member.last_name') + ':'
        = @member.last_name
      %p
        %b= t('activerecord.attributes.member.email') + ':'
        = @member.email
      %p
        %b= t('activerecord.attributes.member.birthdate') + ':'
        = @member.birthdate
      %p
        %b= t('activerecord.attributes.member.mobile_number') + ':'
        = @member.mobile_number
      %p
        %b= t('activerecord.attributes.member.gender') + ':'
        = @member.gender
      %p
        %b= t('activerecord.attributes.member.canton') + ':'
        = @member.canton
        %p
          %b= t('activerecord.attributes.member.abo_types') + ':'
          = @member.abo_types.map(&:name).join(', ')
      %p
        %b= t('activerecord.attributes.member.comment') + ':'
        = @member.comment
      %p
        %b= t('activerecord.attributes.member.wants_newsletter_emails') + ':'
        = @member.wants_newsletter_emails
      %p
        %b= t('activerecord.attributes.member.wants_event_emails') + ':'
        = @member.wants_event_emails
      %p
        %b= t('activerecord.attributes.member.card_id') + ':'
        = @member.card_id
      %p
        %b= t('activerecord.attributes.member.magma_coins') + ':'
        = @member.magma_coins
      %p
        %b= t('activerecord.attributes.member.expiration_date') + ':'
        = @member.expiration_date
      %p
        %b= t('activerecord.attributes.member.number_of_scans') + ':'
        = @member.number_of_scans
      %p
        %b= t('activerecord.attributes.member.active') + ':'
        = @member.active
