.row
  .col
    %h1.page__title= t('members.success_extern')

.row
  .col
    %br
    %p.text-center
      %strong= '->'
      = t('members.success_extern_body')
      %strong= '<-'
    %br
    %br
    %p.text-center= t('members.success_extern_body2')
